@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to BlogProject!</h1>
    <p class="lead">A simple blog platform built with ASP.NET Core MVC.</p>

    <div class="mt-4">
        <a href="/Blog" class="btn btn-primary btn-lg">Read Blog Posts</a>
        <a href="/Subscribe" class="btn btn-outline-secondary btn-lg ms-2">Subscribe</a>
    </div>
</div>
